<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Brandon Hall</h1>
        <p>I am interested in Web Development because I would like to have the ability to create and add to the ever expanding internet.
            I also see it as an opportunity to express my self on a platform which i have been actively using for years.Web Development would
            also teach me skills which only can assist me in other courses and future endevours.I also find the development and maintenance of websites
            fascinating.</p>
    </body>
</html>